@mixin large {
  @media only screen and (min-width: 1110px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 481px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}