$box-size: 2rem;
$box-colors: #ee324b, #1BFF90, #D001D0, wheat;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeInFully {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin box-color($color) {
  north { background-color: $color; }
  east { background-color: $color; }
  south { background-color: $color; }
  west { background-color: darken($color, 25); }
  up { background-color: darken($color, 20); }
  down { background-color: $color; }
}

a-box {
  cursor: not-allowed;
  display: inline-block;
  margin-right: $box-size/32;
  width: $box-size;
  height: $box-size;
  opacity: 1;

  body.intro-is-done & > * {
    animation-name: fadeInFully;
  }

  &:after,
  & > * {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    position: absolute;
    width: $box-size;
    height: $box-size;
  }

  body.intro-is-done &:after {
    animation-name: fadeIn;
    top: 0;
    content: '';
    transform: translateZ(-80rem);
    background: black;
    z-index: -1;
  }

  north { transform: translateZ($box-size/2); }
  east { transform: rotateY( 90deg) translateZ($box-size/2); }
  south { transform: rotateX(-90deg) translateZ($box-size/2); }
  west { transform: rotateY(-90deg) translateZ($box-size/2); }
  up { transform: rotateX( 90deg) translateZ($box-size/2); }
  down { transform: rotateX(-90deg) translateZ($box-size/2); }

  @each $color in $box-colors {
    $i: index($box-colors, $color);
    &:nth-child(#{$i}) {
      @include box-color($color);

      &:after,
      *, *:after {
        animation-delay: 100ms * $i;
      }

    }
  }
}
