img-3d {
  display: block;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: inherit;
    content: '';
    transform: translateZ(-80rem);
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: inherit;
    content: '';
  }
}