p-3d,
p-3d-medium,
p-3d-large, {
  display: inline-block;

  section > header > & {
    display: block;
  }

  &-medium {
    margin: 4rem 0;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &-large {
    margin: 4rem 0;
    font-size: 4rem;
    font-weight: 700;
  }

  margin: 2rem 0;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;

  &:before {
    color: #333;
    left: 0;
    top: 0;
    position: absolute;
    content: attr(three-d-text);
    overflow: hidden;
    pointer-events: none;
    transform: translateZ(-80rem);
    opacity: 0.2;
  }

  &.writer:before {
      content: attr(three-d-text) '|';
    }

  &.writer:after {
    content: '|';
    display: absolute;
    color: red;
  }
}

