@keyframes nightMode {
  0% {
    background-color: white;
    filter: invert(0);
  }

  100% {
    background-color: black;
    filter: invert(100%);
  }
}

@keyframes nightModeImg {
  0% {
    filter: invert(0);
  }

  100% {
    filter: invert(100%);
  }
}

@keyframes nightModeButton {
  0% {
    opacity: 0;
    filter: invert(0);
  }

  100% {
    opacity: 1;
    filter: invert(1);
  }
}

.night-mode {
  opacity: 0;
  float: right;
  padding-top: 0;
  margin-top: 0;
  color: #1BFF90;
  animation-delay: 2000ms;
  transition: 1500ms;
}

.inverted {
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
  animation-name: nightMode;
  animation-delay: 2000ms;

  img {
    animation-fill-mode: forwards;
    animation-duration: 1500ms;
    animation-name: nightMode;
    animation-delay: 3500ms;

  }

  .night-mode {
    animation-fill-mode: forwards;
    animation-duration: 1500ms;
    animation-name: nightModeButton;
    animation-delay: 2000ms;

  }
}
