$base-font : monospace;
$page-width: 80%;
$base-size : 15;
$max-width: 60rem;
$leading: 20;


$red: #ee324b;
$green: #1BFF90;
$pink: #DA28CB;
$yellow: #ffe066;
$blue: #247ba0;
$weird: #70c1b3;


$link-color: $green;


//Fonts
$heading-font: helvetica;
$mono: monospace;







