extends ../layout/default

block content
  all-my-secret-api-keys
  main
    header
      include partials/box
      include partials/box
      include partials/box
      include partials/box
      img-3d.me
      p-3d(three-d-text="").writer
    section.thoughts
    section.projects
      header
        p-3d-medium(three-d-text="my most recent work/hacks..").green-bg my most recent work/hacks..
      ol
        li.project
          a(href="http://bandpage.com/artists" target="_blank")
            img(data-lazy="/images/projects/bandpage-1.gif")
          span #[b bandpage.com/artists] I worked at BandPage for 3.5 years
        li.project
          a(href="http://differentperspectiv.es" target="_blank")
            img(data-lazy="/images/projects/different-perspectives.gif")
          span #[b differentperspectiv.es] interactive Virtual Reality demos using Google Cardboard to experience situations from Different Perspectives.
        li.project
          a(href="http://brand-colors.com" target="_blank")
            img(data-lazy="/images/projects/brand-colors.gif")
          span #[b brand-colors.com] a brand color collection available in sass, less, stylus and css
        li.project
          a(href="http://bandpage.com/partners/spotify" target="_blank")
            img(data-lazy="/images/projects/bandpage-2.gif")
          span #[b bandpage.com/partners/spotify] working together with Ryan Conlan was a blast
        li.project
          a(href="http://heartcoins.org" target="_blank")
            img(data-lazy="/images/projects/heartcoins.gif")
          span #[b heartcoins] currently building a crypto-currency based on good will
        li.project
          a(href="http://github.com/reimertz/gyver" target="_blank")
            img(data-lazy="/images/projects/gyver.gif")
          span #[b gyver] a swiz army knife for all the terminal lovers out there
        li.project
          a(href="http://github.com/reimertz/feel-beats" target="_blank")
            img(data-lazy="/images/projects/feelbeats.jpg")
          span #[b feel beats] a hardware hack that gives you the feeling of being a drummer
        li.project
          a(href="http://hackforrefugees.com" target="_blank")
            img(data-lazy="/images/projects/hackforrefugees.gif")
          span #[b Hack for Refugees] nobody can do everything, but everybody can do something
        li.project
          a(href="http://flag-colors.com" target="_blank")
            img(data-lazy="/images/projects/flag-colors.gif")
          span #[b flag-colors.com] a flag color collection available in sass, less, stylus and css
        li.project
          a
            img(data-lazy="/images/projects/popwars.gif")
          span #[b pop-wars] a popup-based multiplayer game
        li.project
          a(href="https://twitter.com/reimertz/status/693152132875304960" target="_blank")
            img(data-lazy="/images/projects/nevah.gif")
          span #[b rickrolled.js] soon to be released
        li.project
          a(href="http://github.com/reimertz/letswork" target="_blank")
            img(data-lazy="/images/projects/letswork.png")
          span #[b letswork] a CLI that helps you focus
        li.project
          a(href="http://www.dynosrc.com/" target="_blank")
            img(data-lazy="/images/projects/dynosrc.gif")
          span #[b dynosrc] serve differential updates to users on the fly
        li.project
          a(href="http://nes-o-png.herokuapp.com" target="_blank")
            img(data-lazy="/images/projects/nes-o-png.gif")
          span.
              #[b nes-over-png] a noscript-compatible twitch-plays-zelda
        li.project
          a(href="http://shorten.li" target="_blank")
            img(data-lazy="/images/projects/shorten-js.gif")
          span #[b shorten.li] a free client-side url-shortener, say whaat?
        li.project
          a(href="http://swear.at" target="_blank")
            img(data-lazy="/images/projects/swear-at.gif")
          span #[b swear.at] this is for you Jashan
        li.project
          a(href="http://github.com/reimertz/plus.js" target="_blank")
            img(data-lazy="/images/projects/plus-js.png")
          span #[b plus.js] a lightweight, templating engine that is all about speed.

        li.project
          a(href="http://github.com/reimertz/purple" target="_blank")
            img(data-lazy="/images/projects/purple.gif")
          span #[b purple] Just a hack
        li.project
          a(href="http://vasktrafik.se" target="_blank")
            img(data-lazy="/images/projects/vasktrafik.jpg")
          span #[b vasktrafik] Did you know that 1MB equals 5.9 Wh?!
  body-scripts
    script(src='/scripts/main-home.bundle.js')